pre .hll { background-color: #ffffcc }
pre  { background: #f0f0f0; }
pre .c { color: #60a0b0; font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #007020; font-weight: bold } /* Keyword */
pre .o { color: #666666 } /* Operator */
pre .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
pre .cp { color: #007020 } /* Comment.Preproc */
pre .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
pre .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD } /* Generic.Traceback */
pre .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #007020 } /* Keyword.Pseudo */
pre .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #902000 } /* Keyword.Type */
pre .m { color: #40a070 } /* Literal.Number */
pre .s { color: #4070a0 } /* Literal.String */
pre .na { color: #4070a0 } /* Name.Attribute */
pre .nb { color: #007020 } /* Name.Builtin */
pre .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
pre .no { color: #60add5 } /* Name.Constant */
pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
pre .ni { color: #d55537; font-weight: bold } /* Name.Entity */
pre .ne { color: #007020 } /* Name.Exception */
pre .nf { color: #06287e } /* Name.Function */
pre .nl { color: #002070; font-weight: bold } /* Name.Label */
pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
pre .nt { color: #062873; font-weight: bold } /* Name.Tag */
pre .nv { color: #bb60d5 } /* Name.Variable */
pre .ow { color: #007020; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #40a070 } /* Literal.Number.Bin */
pre .mf { color: #40a070 } /* Literal.Number.Float */
pre .mh { color: #40a070 } /* Literal.Number.Hex */
pre .mi { color: #40a070 } /* Literal.Number.Integer */
pre .mo { color: #40a070 } /* Literal.Number.Oct */
pre .sb { color: #4070a0 } /* Literal.String.Backtick */
pre .sc { color: #4070a0 } /* Literal.String.Char */
pre .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #4070a0 } /* Literal.String.Double */
pre .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
pre .sh { color: #4070a0 } /* Literal.String.Heredoc */
pre .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
pre .sx { color: #c65d09 } /* Literal.String.Other */
pre .sr { color: #235388 } /* Literal.String.Regex */
pre .s1 { color: #4070a0 } /* Literal.String.Single */
pre .ss { color: #517918 } /* Literal.String.Symbol */
pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
pre .vc { color: #bb60d5 } /* Name.Variable.Class */
pre .vg { color: #bb60d5 } /* Name.Variable.Global */
pre .vi { color: #bb60d5 } /* Name.Variable.Instance */
pre .il { color: #40a070 } /* Literal.Number.Integer.Long */
.codehilite pre .hll { background-color: #ffffcc }
.codehilite pre  { background: #f0f0f0; }
.codehilite pre .c { color: #60a0b0; font-style: italic } /* Comment */
.codehilite pre .err { border: 1px solid #FF0000 } /* Error */
.codehilite pre .k { color: #007020; font-weight: bold } /* Keyword */
.codehilite pre .o { color: #666666 } /* Operator */
.codehilite pre .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.codehilite pre .cp { color: #007020 } /* Comment.Preproc */
.codehilite pre .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.codehilite pre .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.codehilite pre .gd { color: #A00000 } /* Generic.Deleted */
.codehilite pre .ge { font-style: italic } /* Generic.Emph */
.codehilite pre .gr { color: #FF0000 } /* Generic.Error */
.codehilite pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite pre .gi { color: #00A000 } /* Generic.Inserted */
.codehilite pre .go { color: #888888 } /* Generic.Output */
.codehilite pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.codehilite pre .gs { font-weight: bold } /* Generic.Strong */
.codehilite pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite pre .gt { color: #0044DD } /* Generic.Traceback */
.codehilite pre .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.codehilite pre .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.codehilite pre .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.codehilite pre .kp { color: #007020 } /* Keyword.Pseudo */
.codehilite pre .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.codehilite pre .kt { color: #902000 } /* Keyword.Type */
.codehilite pre .m { color: #40a070 } /* Literal.Number */
.codehilite pre .s { color: #4070a0 } /* Literal.String */
.codehilite pre .na { color: #4070a0 } /* Name.Attribute */
.codehilite pre .nb { color: #007020 } /* Name.Builtin */
.codehilite pre .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.codehilite pre .no { color: #60add5 } /* Name.Constant */
.codehilite pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.codehilite pre .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.codehilite pre .ne { color: #007020 } /* Name.Exception */
.codehilite pre .nf { color: #06287e } /* Name.Function */
.codehilite pre .nl { color: #002070; font-weight: bold } /* Name.Label */
.codehilite pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.codehilite pre .nt { color: #062873; font-weight: bold } /* Name.Tag */
.codehilite pre .nv { color: #bb60d5 } /* Name.Variable */
.codehilite pre .ow { color: #007020; font-weight: bold } /* Operator.Word */
.codehilite pre .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite pre .mb { color: #40a070 } /* Literal.Number.Bin */
.codehilite pre .mf { color: #40a070 } /* Literal.Number.Float */
.codehilite pre .mh { color: #40a070 } /* Literal.Number.Hex */
.codehilite pre .mi { color: #40a070 } /* Literal.Number.Integer */
.codehilite pre .mo { color: #40a070 } /* Literal.Number.Oct */
.codehilite pre .sb { color: #4070a0 } /* Literal.String.Backtick */
.codehilite pre .sc { color: #4070a0 } /* Literal.String.Char */
.codehilite pre .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.codehilite pre .s2 { color: #4070a0 } /* Literal.String.Double */
.codehilite pre .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.codehilite pre .sh { color: #4070a0 } /* Literal.String.Heredoc */
.codehilite pre .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.codehilite pre .sx { color: #c65d09 } /* Literal.String.Other */
.codehilite pre .sr { color: #235388 } /* Literal.String.Regex */
.codehilite pre .s1 { color: #4070a0 } /* Literal.String.Single */
.codehilite pre .ss { color: #517918 } /* Literal.String.Symbol */
.codehilite pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
.codehilite pre .vc { color: #bb60d5 } /* Name.Variable.Class */
.codehilite pre .vg { color: #bb60d5 } /* Name.Variable.Global */
.codehilite pre .vi { color: #bb60d5 } /* Name.Variable.Instance */
.codehilite pre .il { color: #40a070 } /* Literal.Number.Integer.Long */