{% extends 'admin/admin_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 用户角色修改 {% endblock%}

{% block page_content %}
<div class="page-header">
	<h1>用户角色修改</h1>
    <form action="{{ url_for('admin.login_user_delete') }}" method="post">
        {{ form.csrf_token }}
        <input type="hidden" name="id" value={{ id }}>
        <input type='submit' value='删除'>
    </form>
	<!--<a href="javascript:if(confirm('确实要删除该内容吗?'))location='{{ url_for('admin.login_user_delete', id=id ) }}'" >删除</a>-->
</div>

<div class="col-md-4">
	{{ wtf.quick_form(form) }}
</div>

<!--
<script language="javascript">
    function delcfm() {
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }
    }
</script>
-->

{% endblock %}

