{% extends 'admin/admin_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 人员修改 {% endblock%}

{% block page_content %}
<div class="page-header">
	<h1>人员修改</h1>
	<a href="{{ url_for('admin.user_delete', id=id ) }}" onClick="delcfm()">删除</a>
</div>

<div class="col-md-4">
	{{ wtf.quick_form(form) }}
</div>

<script language="javascript">
    function delcfm() {
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }
    }
</script>

{% endblock %}

