{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block head %}
{{ super() }}
<script src="{{ url_for('main.static', filename='highcharts.js') }}"></script>
<script src="{{ url_for('main.static', filename='chartkick.js') }}"></script>
{% endblock %}


{% block title %} 应用安全能力仪表盘 {% endblock%}

{% block page_content %}
<div class="page-header">
    <h1>应用安全能力仪表盘</h1>
    <h3>覆盖资产数量 {{ asset_count }} 个</h3>
</div>


    <div style="width:90%">
    <h3>应用安全能力分</h3>
                <div>
                    {% area_chart data_sec_score_all %}  
                 <!--   {% bar_chart data_vul_type %}  -->
                <!--    {% line_chart data_vul_type with style="width:200px; height:20px;" %} -->
                </div>
    </div>

        <div style="width:90%">
    <h3>代码安全能力分</h3>
                <div>
                    {% area_chart data_code_score_all %}  
                 <!--   {% bar_chart data_vul_type %}  -->
                <!--    {% line_chart data_vul_type with style="width:200px; height:20px;" %} -->
                </div>
    </div>


        <div style="width:90%">
    <h3>运维安全能力分</h3>
                <div>
                    {% area_chart data_ops_score_all %}  
                 <!--   {% bar_chart data_vul_type %}  -->
                <!--    {% line_chart data_vul_type with style="width:200px; height:20px;" %} -->
                </div>
    </div>


        <div style="width:90%">
    <h3>攻击发现能力分</h3>
                <div>
                    {% area_chart data_attack_score_all %}  
                 <!--   {% bar_chart data_vul_type %}  -->
                <!--    {% line_chart data_vul_type with style="width:200px; height:20px;" %} -->
                </div>
    </div>

{% endblock %}

