{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block head %}
{{ super() }}
<script src="{{ url_for('main.static', filename='highcharts.js') }}"></script>
<script src="{{ url_for('main.static', filename='chartkick.js') }}"></script>
{% endblock %}


{% block title %} 应用风险仪表盘 {% endblock%}

{% block page_content %}
<div class="page-header">
    <h1>应用风险仪表盘</h1>
    <h3>统计时段: {{ startDate }} 至 {{ endDate }}</h3>
    <h3>覆盖资产数量: {{ asset_count }} 个</h3>
</div>



    <div style="width:90%">
    <h3>应用风险分布</h3>
                <div>
                    {% pie_chart data_risk_score_lv_count with id='chart-2' height='400px' %}
                </div>
    </div>


    <div style="width:90%">
    <h3>风险平均分排名</h3>
                <div>
                    {% line_chart list_asset_risk_score %}  
                 <!--   {% bar_chart data_vul_type %}  -->
                <!--    {% line_chart data_vul_type with style="width:200px; height:20px;" %} -->
                </div>
    </div>


    <div style="width:90%">
    <h3>最低风险分排名</h3>
                <div>
                    {% line_chart list_asset_min_risk_score %}  
                 <!--   {% bar_chart data_vul_type %}  -->
                <!--    {% line_chart data_vul_type with style="width:200px; height:20px;" %} -->
                </div>
    </div>

    

    <div style="width:90%">
    <h3>每周风险总分</h3>
                <div>
                    {% line_chart list_asset_week_sum_risk_score %}  
                 <!--   {% bar_chart data_vul_type %}  -->
                <!--    {% line_chart data_vul_type with style="width:200px; height:20px;" %} -->
                </div>
    </div>








{% endblock %}

