{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
{{ super() }}
<!-- <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>  -->
<script src="{{ url_for('static', filename='highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='chartkick.js') }}"></script>
{% endblock %}

{% block title %} SrcPM {% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Hello</h1>
</div>


{% line_chart data with style="width:200px; height:20px;" %}

{% pie_chart data with id='chart-1' height='400px' %}

{% column_chart data with min=400 max=1000 %}

{% bar_chart data %}

{% area_chart data %}

{% endblock %}
