{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
{{ super() }}
<script src="{{ url_for('main.static', filename='highcharts.js') }}"></script>
<script src="{{ url_for('main.static', filename='chartkick.js') }}"></script>
{% endblock %}


{% block title %} 漏洞管理平台 {% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>仪表盘</h1>
</div>



    <div style="width:90%">
    <h3>漏洞类型</h3>
                <div>
                    {% line_chart data_vul_type with style="width:200px; height:20px;" %}
                </div>
    </div>


    <legend></legend>



    <div style="width:90%">
    <h3>漏洞状态</h3>
                <div>
                    {% pie_chart data_vul_status with id='chart-1' height='400px' %}
                </div>
    </div>


    <legend></legend>



    <div style="width:90%">
    <h3>资产({{ count_asset }})漏洞数量</h3>
                <div>
                    {% line_chart data_related_asset with style="width:200px; height:20px;" %}
                </div>
    </div>


    <legend></legend>




<!--

{% column_chart data_vul_type with min=400 max=1000 %}

{% bar_chart data_vul_type %}

{% area_chart data_vul_type %}
-->

{% endblock %}
