<p>亲爱的 <b>管理员</b>,</p>
<p>欢迎来到 <b>漏洞管理平台</b>!</p>
<p>有一个新漏洞等待您的审核：</p>
<p>漏洞标题: {{ vul_report.title }}</p>
<p>提交人: {{ vul_report.author }}</p>
<p>提交时间: {{ vul_report.timestamp }}</p>
<p>漏洞类型: {{ vul_report.related_vul_type }}</p>
<p>自评Rank: {{ vul_report.vul_self_rank }}</p>

<p>漏洞链接: <a href="{{ url_for('src.vul_report_read', id=vul_report.id, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('src.vul_report_read', id=vul_report.id, _external=True) }}</p>
<p>Sincerely,</p>
<p>The SrcPM Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>