{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %} 应用安全能力查看 {% endblock%}

{% block page_content %}
<div class="page-header">
    <h1>应用安全能力查看</h1>
</div>


<div>
<table class="table table-hover">
   <thead>
      <tr>
         <th>能力名称</th>
         <th>分数</th>
      </tr>
   </thead>
   <tbody>
      <tr>
        <td>代码安全能力分:</td>
        <td>{{ asset_code_score }}</td>
      </tr>
      <tr>
        <td>运维安全能力分:</td>
        <td>{{ asset_ops_score }}</td>
      </tr>
      <tr>
        <td>攻击发现能力分:</td>
        <td>{{ asset_attack_score }}</td>
      </tr>
      <tr>
        <td>应用安全能力分:</td>
        <td>{{ asset_sec_score }}</td>
      </tr>
   </tbody>
</table
</div>
{% endblock %}

