{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %} 未审核漏洞列表 {% endblock%}

{% block page_content %}
<div class="page-header">
    <h1>未审核漏洞列表</h1>
</div>

<form role="form" method='POST'>
<div class="form-group">
   <label for="name"></label>
   <input type="text" class="form-control" name="opt" placeholder="{{ opt_label[1] }}">
   <button type="submit" class="btn btn-default">{{ opt_label[0] }}</button>
</div>
</form>

<div>
<table class="table table-hover">
   <thead>
      <tr>
        <th>ID</th>
         <th>作者</th>
      <!--   <th>时间<th> -->
         <th>标题</th>
         <th>关联资产</th>
         <th>资产状态</th>
         <th>漏洞类型</th>
         <th>来源</th>
         <th>Rank</th>
         <th>剩余风险</th>
          <th>通告时间</th>
          <th>结束时间</th>
         <th>漏洞状态</th>
      </tr>
   </thead>
   <tbody>
    {% for vul_report in vul_report_list %}
      <tr>
         <td>{{ vul_report.id }}</td>
      <!--   <td>{{ vul_report.timestamp }}</td> -->
         <td>{{ vul_report.author }}</td>
         <td><a href="{{ url_for('src.vul_report_read', id=vul_report.id) }}">{{ vul_report.title }}</a></td>
         <td>{{ vul_report.related_asset }}</td>
         <td>{{ vul_report.related_asset_status }}</td>
         <td>{{ vul_report.related_vul_type }}</td>
         <td>{{ vul_report.vul_source }}</td>
         <td>{{ vul_report.grant_rank }}</td>
         <th>{{ vul_report.residual_risk_score }}</th>
         
         {% if vul_report.start_date %}
         <td>{{ moment(vul_report.start_date).format('YYYY-MM-DD') }}</td>
         {% else %}
         <td></td>
         {% endif %}

         {% if vul_report.start_date %}
         <td>{{ moment(vul_report.end_date).format('YYYY-MM-DD') }}</td>
         {% else %}
         <td></td>
         {% endif %}         
         <td>{{ vul_report.vul_status }}</td>
      </tr>
    {% endfor %}
   </tbody>
</table>
</div>

{% endblock %}

