{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %} 漏洞日志查看 {% endblock%}

{% block page_content %}
<div class="page-header">
    <h1>漏洞日志查看</h1>
</div>

<div>
<table class="table table-hover">
   <thead>
      <tr>
         <th>ID</th>
         <th>时间</th>
         <th>操作人</th>
         <th>行为</th>
         <th>内容</th>
      </tr>
   </thead>
   <tbody>
    {% for vul_log in vul_log_list %}
      <tr>
         <td>{{ vul_log.id }}</td>
         <td>{{ moment(vul_log.time).format('YYYY-MM-DD hh:mm:ss') }}</td>
         <td>{{ vul_log.related_user_email }}</td>
         <td>{{ vul_log.action }}</td>
         <td>{{ vul_log.content }}</td>
      </tr>
    {% endfor %}
   </tbody>
</table>
</div>

{% endblock %}

