{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
 {{ super() }}

   <link rel="stylesheet" href="/static/pygments.css" type="text/css" />
   <style>
        pre{
        white-space:pre-wrap;
        white-space:-moz-pre-wrap;
        white-space:-pre-wrap;
        white-space:-o-pre-wrap;
        word-wrap:break-word;
        }
        img{
            max-width:800px;
            text-align:center;
            margin:auto;
        }


   </style>

<!--
  <script language="javascript">
    function delcfm() {
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }
    }
  </script>
-->

{% endblock%}


{% block title %} {{ vul_report.title }} {% endblock%}

{% block page_content %}


<div class="page-header">
	<h1>{{ vul_report.title }}</h1>

<div>
  {% if current_user.can('src.vul_report_delete') %}
    <a href="javascript:if(confirm('确实要删除该内容吗?'))location='{{ url_for('src.vul_report_delete', id=vul_report.id ) }}'" >删除</a>
  {% endif %}

  {% if current_user.can('src.vul_report_review') %}
    {% if (vul_report.vul_status == '未审核') %}
    <a href="{{ url_for('src.vul_report_review', id=vul_report.id ) }}">审核</a>
    {% endif %}
  {% endif %}

  {% if current_user.can('src.vul_report_dev_finish') %}
    {% if (vul_report.vul_status == '已通告') or (vul_report.vul_status == '修复中') %}
    <a href="{{ url_for('src.vul_report_dev_finish', id=vul_report.id) }}">申请复测</a>
    {% endif %}
  {% endif %}

  {% if current_user.can('src.vul_report_retest_result') %}
    {% if vul_report.vul_status == '复测中' %}
    <a href="{{ url_for('src.vul_report_retest_result', id=vul_report.id) }}">提交复测结果</a>
    {% endif %}
  {% endif %}
</div>


</div>



<div class="page-header">
   <h3>漏洞概况</h3>
</div>
<div>
   <label>作者:</label> {{ vul_report.author }}<br>
   <label>时间:</label> {{ moment(vul_report.timestamp).format('YYYY年M月D日, H:mm:ss') }}<br>
   <label>受影响域名:</label> {{ vul_report.related_asset }}<br>
   <label>漏洞类型:</label> {{ vul_report.related_vul_type }}<br>
   <label>自评Rank:</label> {{ vul_report.vul_self_rank }}
</div>

<div class="page-header">
   <h3>漏洞证明</h3>
</div>
<div>
   {% if vul_report.vul_poc_html %}
   {{ vul_report.vul_poc_html|safe }}
   {% endif %}
</div>

<div class="page-header">
   <h3>解决方案</h3>
</div>
<div>
   {% if vul_report.vul_solution_html %}
   {{ vul_report.vul_solution_html|safe }}
   {% endif %}
</div>


{% endblock %}

