<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

</div>

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="/static/css/drop/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='jquery.cookie.js') }}"></script>

<script src="/static/plugins/editormd/editormd.js"></script>
<script type="text/javascript">
    $(function() {
        testEditor = editormd("editormd", {
            width: "100%",
            height: 740,
            theme : "dark",
            previewTheme : "default",
            editorTheme : "neat",
            emoji : true,
            taskList : true,
            tocm : true,         // Using [TOCM]
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
            path: "/static/plugins/editormd/lib/",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp"],
            imageUploadURL: "/drops/upload_img",
        });
    });

</script>


</body>

</html>
