{% extends "base.html" %}
{% block head %}
    {{ super() }}
<link rel="stylesheet" href="{{ url_for('drops.static', filename='plugins/highlight/styles/tomorrow.css') }}">
<script src="{{ url_for('drops.static', filename='plugins/highlight/highlight.pack.js') }}"></script>
<script src="{{ url_for('drops.static', filename='Markdown.Converter.min.js') }}"></script>
<script src="{{ url_for('drops.static', filename='Markdown.Sanitizer.min.js') }}"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<style>
    .w90 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .w60 {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .w35 {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment(local_js=url_for('drops.static', filename='moment-with-locales.min.js') ) }}
    {{ moment.lang("zh-CN") }}
{% endblock %}
{% block title %} drops {% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}
