{% extends 'drops/drops_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "drops/_macros.html" as macros %}
{% block head %}
    {{ super() }}
    <link id="diginews_style-css" media="all" type="text/css" href="{{ url_for('static', filename='css/drop/style.css') }}" rel="stylesheet">
{% endblock%}
{% block title%} drops {% endblock%}
{% block page_content %}

<div id="content" class="clearfix">
    <div id="main" class="col620 clearfix" role="main">
        {% for a in drops %}
        <article id="post-71" class="post-71 post type-post status-publish format-standard hentry category-9 tag-10 tag-11 tag-12 tag-13">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a rel="bookmark" title="Permalink to {{a.drop_title}}" href="{{ url_for('drops.drop', postid=a.id) }}">{{a.drop_title}}</a>
                </h1>
                <div class="entry-meta">
                    <span class="sep">Posted on </span>
                    <a rel="bookmark" title="title" href="{{ url_for('drops.drop', postid=a.id) }}">
                        <time class="entry-date" datetime="2013-01-01T00:00:00+00:00">{{moment(a.drop_modified_time).format('YYYY年M月D日, H:mm:ss')}}</time>
                    </a>
                    <span class="byline">
                        <span class="sep"> by </span>
                        <span class="author vcard">
                            <a class="url fn n" rel="author" title="View all posts by dan" href="/">test</a>
                        </span>
                    </span>
                    <span class="sep" style="float:right"><p><a class="more" href="{{ url_for('drops.drop', postid=a.id) }}">阅读全文 &raquo;</a></p></span>
                    <span class="sep" style="float:right"><a title="{{a.drop_title}}" href="{{ url_for('drops.drop', postid=a.id) }}#comments">{{a.comment_count}}条评论</a></span>
                    <span class="sep" style="float:right"> {{ a.view_num }}人阅读</span>
                </div>
            </header>
            <div class="entry-content post_content">

                {% if (a.drop_content|length)>100 %}
                    {{ (a.drop_content_html)[:50]|safe }}...
                {% else %}
                    {{ (a.drop_content_html)|safe }}
                {% endif %}

                <p><a class="more" href="{{ url_for('drops.drop', postid=a.id) }}" style="float:right">阅读全文 &raquo;</a></p>

            </div>


            <footer class="entry-meta">
                <span class="cat-links">Posted in<a rel="tag" title="查看 {{a.categorys.category_name}} 中的全部文章" href="#">{{a.categorys.category_name}}</a></span>
                <span class="sep"> | </span>
                <span class="tag-links">
                    Tagged:
                    {% for tag in a.tags %}
                    <span><a rel="tag" href="/tag/{{tag.id}}">{{tag.name}}</a></span>
                    {% endfor %}
                </span>
            </footer>
        </article>
        {% endfor %}
        <div id="Pagination" class="pagination">
            <a href="/drops/page/1">首页 &raquo;</a>
                {% for i in pagination %}
                    {% if i==pageid %}<span class="current">{{pageid}}</span>
                        {% else %}<a href="/drops/page/{{i}}">{{i}}</a>
                    {% endif %}
                {% endfor %}
            <span>...</span>
            <a href="/drops/page/{{last_page}}">末页 &raquo;</a>
        </div>


    </div>


</div>

<link rel="stylesheet" href="{{ url_for('static', filename='plugins/highlight/styles/monokai-sublime.css') }}">
<script src="{{ url_for('static', filename='plugins/highlight/highlight.pack.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% endblock %}
