{% extends 'drops/drops_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %} drops管理 {% endblock%}
{% block page_content %}
<div class="page-header">
    <h1>drops编辑</h1>
</div>
<div class="table-responsive w90">

    <table id="main" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <td>文章ID</td>
                <td>主题</td>
                <td>创建时间</td>
                <td>類別</td>
                <td>管理</td>
            </tr>
            </thread>
            <tbody>

                <tr>
                    <td><a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>沒有文章，点此新建？</a></td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>
                        <button onclick="del(null,null)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>刪除</button>
                        <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>新建</a>
                        <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>编辑</button>
		            </td>
		        </tr>

            </tbody>
    </table>
</div>

<script>
function del(id,subject){
var msg="確定要刪除" +subject+"嗎？\n注意：刪除后將無法恢復！"
if (confirm(msg)){
	$.get("del",{ID:id},function(data){if (data=="0"){alert("文章已成功刪除！");} else {alert(data);}})
	}
}
</script>
{% endblock %}
