{% extends 'drops/drops_base.html' %} {% block head %} {{ super() }}
<style type="text/css">
    #title_id {
        font-size: 16px;
    }

    #dropname_id {
        font-size: 16px;
    }
</style>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='Markdown.Converter.min.js') }}"></script>
<script src="{{ url_for('static', filename='Markdown.Sanitizer.min.js') }}"></script>
<script type="text/javascript">
	function Checknull(str)
    {
        var strReg="";
        var r;
        var strText= document.getElementById(str).value;
        if(strText=="" || strText==null)
        {
            alert("输入不能为空");
            return;
        }
    }
</script>
{% endblock %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title%} drops添加 {% endblock%}
{% block page_content %}
<div class="page-header">
    <h1>新建drop</h1>
</div>

    <form method="POST" action="{{ url_for('drops.newdrops')}}" class="form-inline" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label class="sr-only" for="title">标题</label>
            <span style="font-size:16px;font-weight:bold;">标题名：</span>
            <input type="text" class="form-control" name="title" id="title" placeholder="请输入标题" onblur = "Checknull('title')">
        </div>
        <div class="form-group">
            <label class="sr-only" for="nadropnameme">drop名</label>
            <span style="font-size:16px;font-weight:bold;">文章名：</span>
            <input type="text" class="form-control" name="dropname" id="dropname" placeholder="请输入drop名" onblur = "Checknull('dropname')">
        </div>
        <hr>{{ wtf.form_field(form.tag) }}
        <div class="category">
            <p>
                {% for category in categories %}
                    {{ category.category_name }}
                <input type="radio" name="category" value="{{ category.id }}" />&nbsp;&nbsp;
                {% endfor %}
            </p>
        </div>
        <br> {{ form.content.label(class="control-label") }}{{ form.content(rows = 10, cols = 100) }}
        {{ wtf.form_field(form.submit) }}
    </form>




{% endblock %}
